# Sample Set 1

WGS, White, Female or Male

Random Selection # 1000

In [38]:
library(tidyverse)
library(bigrquery)

# This query represents dataset "All_WGS_White_FM" for domain "person" and was generated for All of Us Controlled Tier Dataset v6
dataset_91554429_person_sql <- paste("
    SELECT
        person.person_id,
        person.birth_datetime as date_of_birth,
        p_race_concept.concept_name as race,
        p_ethnicity_concept.concept_name as ethnicity,
        p_sex_at_birth_concept.concept_name as sex_at_birth 
    FROM
        `person` person 
    LEFT JOIN
        `concept` p_race_concept 
            ON person.race_concept_id = p_race_concept.concept_id 
    LEFT JOIN
        `concept` p_ethnicity_concept 
            ON person.ethnicity_concept_id = p_ethnicity_concept.concept_id 
    LEFT JOIN
        `concept` p_sex_at_birth_concept 
            ON person.sex_at_birth_concept_id = p_sex_at_birth_concept.concept_id  
    WHERE
        person.PERSON_ID IN (
            SELECT
                distinct person_id  
            FROM
                `cb_search_person` cb_search_person  
            WHERE
                cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 
                ) 
                AND cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `person` p 
                    WHERE
                        race_concept_id IN (8527) 
                ) 
                AND cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `person` p 
                    WHERE
                        sex_at_birth_concept_id IN (45878463, 45880669) 
                ) 
            )", sep="")

# Formulate a Cloud Storage destination path for the data exported from BigQuery.
# NOTE: By default data exported multiple times on the same day will overwrite older copies.
#       But data exported on a different days will write to a new location so that historical
#       copies can be kept as the dataset definition is changed.
person_91554429_path <- file.path(
  Sys.getenv("WORKSPACE_BUCKET"),
  "bq_exports",
  Sys.getenv("OWNER_EMAIL"),
  strftime(lubridate::now(), "%Y%m%d"),  # Comment out this line if you want the export to always overwrite.
  "person_91554429",
  "person_91554429_*.csv")
message(str_glue('The data will be written to {person_91554429_path}. Use this path when reading ',
                 'the data into your notebooks in the future.'))

# Perform the query and export the dataset to Cloud Storage as CSV files.
# NOTE: You only need to run `bq_table_save` once. After that, you can
#       just read data from the CSVs in Cloud Storage.
bq_table_save(
  bq_dataset_query(Sys.getenv("WORKSPACE_CDR"), dataset_91554429_person_sql, billing = Sys.getenv("GOOGLE_PROJECT")),
  person_91554429_path,
  destination_format = "CSV")

# Read the data directly from Cloud Storage into memory.
# NOTE: Alternatively you can `gsutil -m cp {person_91554429_path}` to copy these files
#       to the Jupyter disk.
read_bq_export_from_workspace_bucket <- function(export_path) {
  col_types <- cols(race = col_character(), ethnicity = col_character(), sex_at_birth = col_character())
  bind_rows(
    map(system2('gsutil', args = c('ls', export_path), stdout = TRUE, stderr = TRUE),
        function(csv) {
          message(str_glue('Loading {csv}.'))
          chunk <- read_csv(pipe(str_glue('gsutil cat {csv}')), col_types = col_types, show_col_types = FALSE)
          if (is.null(col_types)) {
            col_types <- spec(chunk)
          }
          chunk
        }))
}
dataset_91554429_person_df <- read_bq_export_from_workspace_bucket(person_91554429_path)

dim(dataset_91554429_person_df)

head(dataset_91554429_person_df, 5)

The data will be written to gs://fc-secure-efde03ca-418d-445e-84f1-df6f8f3f35d4/bq_exports/yebin@researchallofus.org/20230516/person_91554429/person_91554429_*.csv. Use this path when reading the data into your notebooks in the future.

Loading gs://fc-secure-efde03ca-418d-445e-84f1-df6f8f3f35d4/bq_exports/yebin@researchallofus.org/20230516/person_91554429/person_91554429_000000000000.csv.

[1] 50569     5

  person_id date_of_birth           race  ethnicity          sex_at_birth
1 2267068   1950-06-15 00:00:00 UTC White Hispanic or Latino Male
2 1547400   1953-06-15 00:00:00 UTC White Hispanic or Latino Male
3 1901649   1960-06-15 00:00:00 UTC White Hispanic or Latino Male
4 3590759   1961-06-15 00:00:00 UTC White Hispanic or Latino Male
5 2920542   1964-06-15 00:00:00 UTC White Hispanic or Latino Male

In [39]:
set.seed(1)
select_patients = sample(x=1:dim(data)[1],size=1000)
select_data = data[select_patients,]
write.csv(select_data,file="/home/jupyter/workspaces/multiallelicgenesinvestigation/OUTPUT_SET_1/SAMPLE_SET_1.csv",quote=FALSE)

# Sample Set 2

WGS, Black, Female or Male

Random Selection # 1000

In [40]:
library(tidyverse)
library(bigrquery)

# This query represents dataset "All_WGS_Black_FM" for domain "person" and was generated for All of Us Controlled Tier Dataset v6
dataset_65641764_person_sql <- paste("
    SELECT
        person.person_id,
        person.birth_datetime as date_of_birth,
        p_race_concept.concept_name as race,
        p_ethnicity_concept.concept_name as ethnicity,
        p_sex_at_birth_concept.concept_name as sex_at_birth 
    FROM
        `person` person 
    LEFT JOIN
        `concept` p_race_concept 
            ON person.race_concept_id = p_race_concept.concept_id 
    LEFT JOIN
        `concept` p_ethnicity_concept 
            ON person.ethnicity_concept_id = p_ethnicity_concept.concept_id 
    LEFT JOIN
        `concept` p_sex_at_birth_concept 
            ON person.sex_at_birth_concept_id = p_sex_at_birth_concept.concept_id  
    WHERE
        person.PERSON_ID IN (
            SELECT
                distinct person_id  
            FROM
                `cb_search_person` cb_search_person  
            WHERE
                cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 
                ) 
                AND cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `person` p 
                    WHERE
                        race_concept_id IN (8516) 
                ) 
                AND cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `person` p 
                    WHERE
                        sex_at_birth_concept_id IN (45878463, 45880669) 
                ) 
            )", sep="")

# Formulate a Cloud Storage destination path for the data exported from BigQuery.
# NOTE: By default data exported multiple times on the same day will overwrite older copies.
#       But data exported on a different days will write to a new location so that historical
#       copies can be kept as the dataset definition is changed.
person_65641764_path <- file.path(
  Sys.getenv("WORKSPACE_BUCKET"),
  "bq_exports",
  Sys.getenv("OWNER_EMAIL"),
  strftime(lubridate::now(), "%Y%m%d"),  # Comment out this line if you want the export to always overwrite.
  "person_65641764",
  "person_65641764_*.csv")
message(str_glue('The data will be written to {person_65641764_path}. Use this path when reading ',
                 'the data into your notebooks in the future.'))

# Perform the query and export the dataset to Cloud Storage as CSV files.
# NOTE: You only need to run `bq_table_save` once. After that, you can
#       just read data from the CSVs in Cloud Storage.
bq_table_save(
  bq_dataset_query(Sys.getenv("WORKSPACE_CDR"), dataset_65641764_person_sql, billing = Sys.getenv("GOOGLE_PROJECT")),
  person_65641764_path,
  destination_format = "CSV")



# Read the data directly from Cloud Storage into memory.
# NOTE: Alternatively you can `gsutil -m cp {person_65641764_path}` to copy these files
#       to the Jupyter disk.
read_bq_export_from_workspace_bucket <- function(export_path) {
  col_types <- cols(race = col_character(), ethnicity = col_character(), sex_at_birth = col_character())
  bind_rows(
    map(system2('gsutil', args = c('ls', export_path), stdout = TRUE, stderr = TRUE),
        function(csv) {
          message(str_glue('Loading {csv}.'))
          chunk <- read_csv(pipe(str_glue('gsutil cat {csv}')), col_types = col_types, show_col_types = FALSE)
          if (is.null(col_types)) {
            col_types <- spec(chunk)
          }
          chunk
        }))
}
dataset_65641764_person_df <- read_bq_export_from_workspace_bucket(person_65641764_path)

dim(dataset_65641764_person_df)

head(dataset_65641764_person_df, 5)

The data will be written to gs://fc-secure-efde03ca-418d-445e-84f1-df6f8f3f35d4/bq_exports/yebin@researchallofus.org/20230516/person_65641764/person_65641764_*.csv. Use this path when reading the data into your notebooks in the future.

Loading gs://fc-secure-efde03ca-418d-445e-84f1-df6f8f3f35d4/bq_exports/yebin@researchallofus.org/20230516/person_65641764/person_65641764_000000000000.csv.

[1] 21354     5

  person_id date_of_birth           race
1 2632011   1954-06-15 00:00:00 UTC Black or African American
2 1816469   1981-06-15 00:00:00 UTC Black or African American
3 3372940   1994-06-15 00:00:00 UTC Black or African American
4 1868967   1960-06-15 00:00:00 UTC Black or African American
5 1864790   1968-06-15 00:00:00 UTC Black or African American
  ethnicity          sex_at_birth
1 Hispanic or Latino Male
2 Hispanic or Latino Male
3 Hispanic or Latino Male
4 Hispanic or Latino Male
5 Hispanic or Latino Male

In [41]:
data = dataset_65641764_person_df

set.seed(1)
select_patients = sample(x=1:dim(data)[1],size=1000)
select_data = data[select_patients,]
write.csv(select_data,file="/home/jupyter/workspaces/multiallelicgenesinvestigation/OUTPUT_SET_2/SAMPLE_SET_2.csv",quote=FALSE)

In [42]:
## write.csv(random2_data,file="/home/jupyter/workspaces/multiallelicgenesinvestigation/OUTPUT_SET_2/SAMPLE_SET_2.csv",quote=FALSE)

# Sample Set 3

WGS, Asian, Female or Male

Random Selection # 1000

In [43]:
library(tidyverse)
library(bigrquery)

# This query represents dataset "All_WGS_Asian_FM" for domain "person" and was generated for All of Us Controlled Tier Dataset v6
dataset_25218662_person_sql <- paste("
    SELECT
        person.person_id,
        person.birth_datetime as date_of_birth,
        p_race_concept.concept_name as race,
        p_ethnicity_concept.concept_name as ethnicity,
        p_sex_at_birth_concept.concept_name as sex_at_birth 
    FROM
        `person` person 
    LEFT JOIN
        `concept` p_race_concept 
            ON person.race_concept_id = p_race_concept.concept_id 
    LEFT JOIN
        `concept` p_ethnicity_concept 
            ON person.ethnicity_concept_id = p_ethnicity_concept.concept_id 
    LEFT JOIN
        `concept` p_sex_at_birth_concept 
            ON person.sex_at_birth_concept_id = p_sex_at_birth_concept.concept_id  
    WHERE
        person.PERSON_ID IN (
            SELECT
                distinct person_id  
            FROM
                `cb_search_person` cb_search_person  
            WHERE
                cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 
                ) 
                AND cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `person` p 
                    WHERE
                        race_concept_id IN (8515) 
                ) 
            )", sep="")

# Formulate a Cloud Storage destination path for the data exported from BigQuery.
# NOTE: By default data exported multiple times on the same day will overwrite older copies.
#       But data exported on a different days will write to a new location so that historical
#       copies can be kept as the dataset definition is changed.
person_25218662_path <- file.path(
  Sys.getenv("WORKSPACE_BUCKET"),
  "bq_exports",
  Sys.getenv("OWNER_EMAIL"),
  strftime(lubridate::now(), "%Y%m%d"),  # Comment out this line if you want the export to always overwrite.
  "person_25218662",
  "person_25218662_*.csv")
message(str_glue('The data will be written to {person_25218662_path}. Use this path when reading ',
                 'the data into your notebooks in the future.'))

# Perform the query and export the dataset to Cloud Storage as CSV files.
# NOTE: You only need to run `bq_table_save` once. After that, you can
#       just read data from the CSVs in Cloud Storage.
bq_table_save(
  bq_dataset_query(Sys.getenv("WORKSPACE_CDR"), dataset_25218662_person_sql, billing = Sys.getenv("GOOGLE_PROJECT")),
  person_25218662_path,
  destination_format = "CSV")


# Read the data directly from Cloud Storage into memory.
# NOTE: Alternatively you can `gsutil -m cp {person_25218662_path}` to copy these files
#       to the Jupyter disk.
read_bq_export_from_workspace_bucket <- function(export_path) {
  col_types <- cols(race = col_character(), ethnicity = col_character(), sex_at_birth = col_character())
  bind_rows(
    map(system2('gsutil', args = c('ls', export_path), stdout = TRUE, stderr = TRUE),
        function(csv) {
          message(str_glue('Loading {csv}.'))
          chunk <- read_csv(pipe(str_glue('gsutil cat {csv}')), col_types = col_types, show_col_types = FALSE)
          if (is.null(col_types)) {
            col_types <- spec(chunk)
          }
          chunk
        }))
}
dataset_25218662_person_df <- read_bq_export_from_workspace_bucket(person_25218662_path)

dim(dataset_25218662_person_df)

head(dataset_25218662_person_df, 5)

The data will be written to gs://fc-secure-efde03ca-418d-445e-84f1-df6f8f3f35d4/bq_exports/yebin@researchallofus.org/20230516/person_25218662/person_25218662_*.csv. Use this path when reading the data into your notebooks in the future.

Loading gs://fc-secure-efde03ca-418d-445e-84f1-df6f8f3f35d4/bq_exports/yebin@researchallofus.org/20230516/person_25218662/person_25218662_000000000000.csv.

[1] 3047    5

  person_id date_of_birth           race  ethnicity
1 1794805   2001-06-15 00:00:00 UTC Asian Not Hispanic or Latino
2 1915329   1991-06-15 00:00:00 UTC Asian Not Hispanic or Latino
3 2410941   1945-06-15 00:00:00 UTC Asian Not Hispanic or Latino
4 1726080   2000-06-15 00:00:00 UTC Asian Not Hispanic or Latino
5 3032547   1982-06-15 00:00:00 UTC Asian Not Hispanic or Latino
  sex_at_birth
1 I prefer not to answer
2 PMI: Skip
3 PMI: Skip
4 PMI: Skip
5 PMI: Skip

In [44]:
data = dataset_25218662_person_df

set.seed(1)
select_patients = sample(x=1:dim(data)[1],size=1000)
select_data = data[select_patients,]
write.csv(select_data,file="/home/jupyter/workspaces/multiallelicgenesinvestigation/OUTPUT_SET_3/SAMPLE_SET_3.csv",quote=FALSE)

# Sample Set 4


WGS, Mixed race group, Female or Male

Random Selection # 1000

In [45]:
library(tidyverse)
library(bigrquery)

# This query represents dataset "All_WGS_multiple_FM" for domain "person" and was generated for All of Us Controlled Tier Dataset v6
dataset_43228169_person_sql <- paste("
    SELECT
        person.person_id,
        person.birth_datetime as date_of_birth,
        p_race_concept.concept_name as race,
        p_ethnicity_concept.concept_name as ethnicity,
        p_sex_at_birth_concept.concept_name as sex_at_birth 
    FROM
        `person` person 
    LEFT JOIN
        `concept` p_race_concept 
            ON person.race_concept_id = p_race_concept.concept_id 
    LEFT JOIN
        `concept` p_ethnicity_concept 
            ON person.ethnicity_concept_id = p_ethnicity_concept.concept_id 
    LEFT JOIN
        `concept` p_sex_at_birth_concept 
            ON person.sex_at_birth_concept_id = p_sex_at_birth_concept.concept_id  
    WHERE
        person.PERSON_ID IN (
            SELECT
                distinct person_id  
            FROM
                `cb_search_person` cb_search_person  
            WHERE
                cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 
                ) 
                AND cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `person` p 
                    WHERE
                        race_concept_id IN (2000000008) 
                ) 
                AND cb_search_person.person_id IN (
                    SELECT
                        person_id 
                    FROM
                        `person` p 
                    WHERE
                        sex_at_birth_concept_id IN (45878463, 45880669) 
                ) 
            )", sep="")

# Formulate a Cloud Storage destination path for the data exported from BigQuery.
# NOTE: By default data exported multiple times on the same day will overwrite older copies.
#       But data exported on a different days will write to a new location so that historical
#       copies can be kept as the dataset definition is changed.
person_43228169_path <- file.path(
  Sys.getenv("WORKSPACE_BUCKET"),
  "bq_exports",
  Sys.getenv("OWNER_EMAIL"),
  strftime(lubridate::now(), "%Y%m%d"),  # Comment out this line if you want the export to always overwrite.
  "person_43228169",
  "person_43228169_*.csv")
message(str_glue('The data will be written to {person_43228169_path}. Use this path when reading ',
                 'the data into your notebooks in the future.'))

# Perform the query and export the dataset to Cloud Storage as CSV files.
# NOTE: You only need to run `bq_table_save` once. After that, you can
#       just read data from the CSVs in Cloud Storage.
bq_table_save(
  bq_dataset_query(Sys.getenv("WORKSPACE_CDR"), dataset_43228169_person_sql, billing = Sys.getenv("GOOGLE_PROJECT")),
  person_43228169_path,
  destination_format = "CSV")

# Read the data directly from Cloud Storage into memory.
# NOTE: Alternatively you can `gsutil -m cp {person_43228169_path}` to copy these files
#       to the Jupyter disk.
read_bq_export_from_workspace_bucket <- function(export_path) {
  col_types <- cols(race = col_character(), ethnicity = col_character(), sex_at_birth = col_character())
  bind_rows(
    map(system2('gsutil', args = c('ls', export_path), stdout = TRUE, stderr = TRUE),
        function(csv) {
          message(str_glue('Loading {csv}.'))
          chunk <- read_csv(pipe(str_glue('gsutil cat {csv}')), col_types = col_types, show_col_types = FALSE)
          if (is.null(col_types)) {
            col_types <- spec(chunk)
          }
          chunk
        }))
}
dataset_43228169_person_df <- read_bq_export_from_workspace_bucket(person_43228169_path)

dim(dataset_43228169_person_df)

head(dataset_43228169_person_df, 5)

The data will be written to gs://fc-secure-efde03ca-418d-445e-84f1-df6f8f3f35d4/bq_exports/yebin@researchallofus.org/20230516/person_43228169/person_43228169_*.csv. Use this path when reading the data into your notebooks in the future.

Loading gs://fc-secure-efde03ca-418d-445e-84f1-df6f8f3f35d4/bq_exports/yebin@researchallofus.org/20230516/person_43228169/person_43228169_000000000000.csv.

[1] 1659    5

  person_id date_of_birth           race                     ethnicity
1 2011744   1959-06-15 00:00:00 UTC More than one population Hispanic or Latino
2 1812234   1990-06-15 00:00:00 UTC More than one population Hispanic or Latino
3 1154390   1948-06-15 00:00:00 UTC More than one population Hispanic or Latino
4 1124763   1961-06-15 00:00:00 UTC More than one population Hispanic or Latino
5 1036175   1964-06-15 00:00:00 UTC More than one population Hispanic or Latino
  sex_at_birth
1 Male
2 Male
3 Male
4 Male
5 Male

In [46]:
data = dataset_43228169_person_df

set.seed(1)
select_patients = sample(x=1:dim(data)[1],size=1000)
select_data = data[select_patients,]
write.csv(select_data,file="/home/jupyter/workspaces/multiallelicgenesinvestigation/OUTPUT_SET_4/SAMPLE_SET_4.csv",quote=FALSE)